@require '~normalize.css'
@require 'vars'
@require 'mixins'

@require 'base'
@require 'footer'
@require 'input'
@require 'source-sans-pro'
@require 'typography'

.page- {
	&join {
		@require 'pages/join'
	}

	&lobby {
		@require 'pages/lobby'
	}
}

.game- {
	&tictactoe {
		@require 'games/tictactoe'
	}
}
