b,
strong,
.text-bold,
h1, h2, h3, h4, h5, h6 {
	font-weight 600
}

h1 {
	flsize(3.5rem, 1.25)
	margin 0 0 2rem 0
}

h2 {
	flsize(2.5rem, 1.25)
	margin-bottom 1rem
}

a {
	color inherit

	&:active,
	&:hover {
		text-decoration none
	}
}

.input-group {
	&:not(:last-child) {
		margin-bottom 2rem
	}
}
